h2.list-title {
    margin-bottom: .5em;
}

.login-dialog {
    max-width: 350px;
    margin:5em auto;
}

.button-login {
    width: 100%;
}

.application-list {
    max-height: 75vh;
    overflow: auto;
}

.table-clickable {
    cursor: pointer;
}

.empty-applications-message {
    font-style: italic;
    font-size: 1.2em;
    margin-top:1em;
}

.panel-heading {
    font-size: 1.3em;
}

.application-table > tbody > tr > td {
    padding:0.5em 0.25em;
    vertical-align: center;
}

.help-inline {
    display:none;
}