{% extends "applications/dashboard.html" %} {% block user_name %} Requester name goes here {% endblock %} {% block content %}
<h2 class="list-title"> Grant Applications </h2>
{% comment %}TODO: Replace this with url reversal {% endcomment %}
<div class="applications">
    <p class="user-message">You currently have no grant applications.</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Conference</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Last Changed</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>00</td>
                <td>420 BlazeIt 2017</td>
                <td>420$</td>
                <td><span class="label label-success">Approved</span></td>
                <td>4/20/2016</td>
            </tr>
            <tr>
                <td>00</td>
                <td>420 BlazeIt 2017</td>
                <td>420$</td>
                <td><span class="label label-success">Approved</span></td>
                <td>4/20/2016</td>
            </tr>
            <tr>
                <td>00</td>
                <td>420 BlazeIt 2017</td>
                <td>420$</td>
                <td><span class="label label-success">Approved</span></td>
                <td>4/20/2016</td>
            </tr>
            <tr>
                <td>00</td>
                <td>420 BlazeIt 2017</td>
                <td>420$</td>
                <td><span class="label label-success">Approved</span></td>
                <td>4/20/2016</td>
            </tr>
            <tr>
                <td>00</td>
                <td>420 BlazeIt 2017</td>
                <td>420$</td>
                <td><span class="label label-success">Approved</span></td>
                <td>4/20/2016</td>
            </tr>
            <tr>
                <td>00</td>
                <td>420 BlazeIt 2017</td>
                <td>420$</td>
                <td><span class="label label-success">Approved</span></td>
                <td>4/20/2016</td>
            </tr>
            <tr>
                <td>00</td>
                <td>420 BlazeIt 2017</td>
                <td>420$</td>
                <td><span class="label label-success">Approved</span></td>
                <td>4/20/2016</td>
            </tr>
            <tr>
                <td>00</td>
                <td>420 BlazeIt 2017</td>
                <td>420$</td>
                <td><span class="label label-success">Approved</span></td>
                <td>4/20/2016</td>
            </tr>
            <tr>
                <td>00</td>
                <td>420 BlazeIt 2017</td>
                <td>420$</td>
                <td><span class="label label-success">Approved</span></td>
                <td>4/20/2016</td>
            </tr>
            <tr>
                <td>00</td>
                <td>420 BlazeIt 2017</td>
                <td>420$</td>
                <td><span class="label label-success">Approved</span></td>
                <td>4/20/2016</td>
            </tr>
            <tr>
                <td>00</td>
                <td>420 BlazeIt 2017</td>
                <td>420$</td>
                <td><span class="label label-success">Approved</span></td>
                <td>4/20/2016</td>
            </tr>
            <tr>
                <td>00</td>
                <td>420 BlazeIt 2017</td>
                <td>420$</td>
                <td><span class="label label-success">Approved</span></td>
                <td>4/20/2016</td>
            </tr>
            <tr>
                <td>00</td>
                <td>420 BlazeIt 2017</td>
                <td>420$</td>
                <td><span class="label label-success">Approved</span></td>
                <td>4/20/2016</td>
            </tr>
            <tr>
                <td>00</td>
                <td>420 BlazeIt 2017</td>
                <td>420$</td>
                <td><span class="label label-success">Approved</span></td>
                <td>4/20/2016</td>
            </tr>
            <tr>
                <td>00</td>
                <td>420 BlazeIt 2017</td>
                <td>420$</td>
                <td><span class="label label-success">Approved</span></td>
                <td>4/20/2016</td>
            </tr>
            <tr>
                <td>00</td>
                <td>420 BlazeIt 2017</td>
                <td>420$</td>
                <td><span class="label label-success">Approved</span></td>
                <td>4/20/2016</td>
            </tr>
            <tr>
                <td>00</td>
                <td>420 BlazeIt 2017</td>
                <td>420$</td>
                <td><span class="label label-success">Approved</span></td>
                <td>4/20/2016</td>
            </tr>
        </tbody>
    </table>
</div>
<a href="createapplication" type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-plus"></span> Create Application</a> 
{% endblock content %}