{% if not list %}
    <p class="empty-applications-message">{{empty_list_text}}</p> 
{% else %}
    <table class="table table-striped table-clickable pendingrecommendation-table">
        <thead>
            <tr>
            <th>ID</th>
            <th>Student</th>
            <th>Conference</th>
            <th>Advance Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for application in list %}
                <tr href="{% url 'make-recommendation' user_id=user_id app_id=application.id %}">
                <td>{{ application.id }}</td>
                <td>{{ application.requester }}</td>
                <td>{{application.conference}}</td>
                <td>{{application.advance_amount}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}